@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
      secondary: mat.$red-palette,
      tertiary: mat.$red-palette,
    ),
    typography: Roboto,
    density: -1,
  ));

  --mat-sys-secondary: #EB003C;
  --mat-sys-on-secondary: #FFFFFF;
}
